<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Contratos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Gestor de Contratos</h1>

    <form action="/upload_csv" method="POST" enctype="multipart/form-data">
        <h2>Importar Contratos via CSV</h2>
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Importar Arquivo</button>
    
        <a href="/dashboard">
            <button style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; margin-bottom: 20px;">
                Dashboard
            </button>
        </a>
        <label></label>

        </a>
    </form>
</body>
</html>